<main>
    <div class="container">
        <section>
          <a routerLinkActive="active" href="/article">
            <article>
            <h2>Abuela vs. Ciberdelincuentes: una batalla épica en la campiña</h2>
            <div class="article">
              <img src="../../assets/abuelaCiber.png" alt="Abuela Ciber" />
              <p>
                En un pequeño pueblo de la campiña española, una abuela octogenaria
                se ha convertido en la inesperada heroína en la lucha contra el
                cibercrimen. Doña Carmen, conocida por sus habilidades culinarias y
                su sabiduría popular, se ha convertido en la némesis de un grupo de
                ciberdelincuentes que operaban desde la comodidad de sus hogares.
              </p>
            </div>
          </article>
        </a>
    </section>
    </div>
</main>>
