<main>
  <div class="container">
    <section>
      <article>
        <h2>Abuela vs. Ciberdelincuentes: una batalla épica en la campiña</h2>
        <img src="../../assets/abuelaCiber.png" alt="Abuela Ciber" />
        <div class="notice">
          <p>
            En un pequeño pueblo de la campiña española, una abuela octogenaria
            se ha convertido en la inesperada heroína en la lucha contra el
            cibercrimen. Doña Carmen, conocida por sus habilidades culinarias y
            su sabiduría popular, se ha convertido en la némesis de un grupo de
            ciberdelincuentes que operaban desde la comodidad de sus hogares.
          </p>
          <p>
            Todo comenzó cuando Doña Carmen recibió un correo electrónico
            sospechoso. El mensaje, que parecía provenir de una entidad
            bancaria, le pedía que actualizara sus datos personales. Sin
            embargo, Doña Carmen, que siempre ha sido desconfiada, no se dejó
            engañar por la estafa. En lugar de eso, decidió investigar por su
            cuenta.
          </p>
          <p>
            Con la ayuda de su nieto, que le enseñó los rudimentos de internet,
            Doña Carmen comenzó a rastrear a los ciberdelincuentes. Utilizando
            su ingenio y su conocimiento de la vida rural, logró identificar las
            IP de los estafadores y denunciarlos a las autoridades.
          </p>
          <p>
            La batalla entre Doña Carmen y los ciberdelincuentes se ha
            convertido en una verdadera epopeya. Los habitantes del pueblo se
            han volcado en apoyo de la abuela, admirando su valentía y su
            determinación. La historia de Doña Carmen ha trascendido las
            fronteras del pueblo y se ha convertido en un símbolo de la lucha
            contra el cibercrimen.
          </p>
          <p>
            En un mundo cada vez más digital, la historia de Doña Carmen nos
            recuerda que la sabiduría y la experiencia son armas poderosas en la
            lucha contra el crimen. Doña Carmen es un ejemplo de que no hay edad
            para ser un héroe.
          </p>
        </div>
      </article>
    </section>
  </div>
</main>
>
