<aside>
    <a routerLink="/home" routerLinkActive="active"><img src="../../assets/LogoTesoros.svg" alt="Logo tesoros del Campo"></a>
    <h1>Tesoros del campo</h1>
    <button>Iniciar sesión</button>
    <div class="articles-aside">
        <p>Abuela vs. Ciberdelincuentes: una batalla épica en la campiña</p>
        <p>El futuro del campo: ¿Cómo será la vida rural en 2050?</p>
        <p>Agricultura 2.0: Cuando el campo se vuelve high-tech</p>
        <p>El idilio rural: Amor en tiempos de Tinder en el campo</p>
        <p>El granjero Paco descubre que su vaca es una cantante de ópera</p>
    </div>
    <span>&copy; 2024</span>
</aside>
